body {
    padding: 3rem;
    display: block;
    text-align: center;
}

span {
    color: red;
    font-weight: bold;
}

h1 {
    padding-top: 2rem;
}

li {
    list-style-type: none;
}

.logo {
    justify-content: center;
    display: flex;
    justify-content: center;
    height: 10rem;
}

